@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
    Layout = "default.cshtml";
    ViewBag.Title = "Filip Ekberg's Blog";
}
@foreach (var postPaged in Model.PostsPaged)
{
    var url = "http://filipekberg.se" + @postPaged.Url;

    <div class="post">
        <h1><a href="@postPaged.Url">@postPaged.Title</a> </h1>
        <h2>Posted by <a href="/about-filip/">Filip Ekberg</a> on @postPaged.Date.ToString("dd MMM yyyy")</h2>
        @Html.RenderSeries(postPaged)
        @Html.Raw(postPaged.ContentExcerpt) [...]

        <p>
            <span st_via='fekberg' class='st_twitter_large' st_title='@postPaged.Title' st_url='@url' displaytext='twitter'></span>
            <span class='st_facebook_large' st_title='@postPaged.Title' st_url='@url' displaytext='facebook'></span>
        </p>

    </div>
}
<!-- Pagination links -->
<div id="post-pagination" class="pagination">

    @if (Model.HasPreviousPage)
    {
        if (Model.PreviousPage == 1)
        {
            <p class="previous">
                <a href="/">Previous Page</a>
            </p>
        }
        else
        {
            <p class="previous">
                <a href="/page@(Model.PreviousPage)">Previous Page</a>
            </p>
        }
    }
    @if (!Model.HasPreviousPage)
    {

      <!--<a href="/">Previous Page</a>-->

    }
    @if (Model.HasNextPage)
    {
        <p class="previous">
            <a href="/page@(Model.NextPage)">Next Page</a>
        </p>
    }
</div>
