@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
    Layout = "default.cshtml";
    ViewBag.Title = Model.Title;
    var url = "http://blog.filipekberg.se" + @Model.Url;
}

@section MetaDescription
{
    <meta name="description" content="@Model.MetaDescription">
}

<div class="post">
    <h1><a href="@Model.Url">@Model.Title</a> </h1>
    <h2>Posted by <a href="/about-filip/">Filip Ekberg</a> on @Model.PostDate.ToString("dd MMM yyyy")</h2>
    @Html.RenderSeries()

    @Html.Raw(Model.PostContent)
    <div>
        <span class='st_facebook_hcount' st_title='@Model.Title' st_url='@url'  displayText='Facebook'></span>
        <span class='st_twitter_hcount' st_title='@Model.Title' st_url='@url'  displayText='Tweet'></span>
        <span class='st_fblike_hcount' st_title='@Model.Title' st_url='@url'  displayText='Facebook Like'></span>
    </div>
    <p><span><a href="https://twitter.com/fekberg" class="twitter-follow-button" data-show-count="false">Follow @@fekberg</a></span></p>
    <div class="post-info-bottom">
        <span class="post-info-category">
            @foreach (var category in Model.Categories)
            {
                @:| <a href="/category/@category.Url">@category.Name</a>
        }
        </span>
    </div>
    @Html.RenderDisqusComments("fekberg")
</div>
